@import 'font.css';
@import 'var.css';
@import 'reset.css';

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: [padding-left-start] 3.125rem [padding-left-end full-width-start] 102.25px [main-content-start] repeat(10, 1fr) 102.25px [main-content-end full-width-end padding-right-start] 3.125rem [padding-right-end];
  /* grid-template-columns: [padding-left-start] 3.125rem [padding-left-end full-width-start] 1fr [main-content-start] repeat(10, 1fr) 1fr [main-content-end full-width-end padding-right-start] 3.125rem [padding-right-end]; */
}

/* Header */
.header-wrapper {
  display: grid;
  grid-template-columns: 73px 1fr auto auto;
  align-items: center;
  grid-column: full-width;
  gap: 2.5rem;
  color: hsl(var(--title));
  padding-top: 1.45rem;
}

.header-logo {
  position: fixed;
}

.header button {
  margin-left: 1.25rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  grid-column: 2;
}

/* Intro */
.intro {
  margin-block: 9.875rem 12.5rem;
}

.intro h1 {
  max-width: 50rem;
  grid-column: main-content;
}

.intro p {
  max-width: 43rem;
  margin-bottom: 3.75rem;
  font-size: var(--xl-fs);
  line-height: var(--leading-xl);
  grid-column: main-content;
}

.intro-images {
  display: flex;
  align-items: center;
  gap: 2.9375rem;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  grid-column: main-content;
}

.intro-images img:first-child {
  /* width: max(58.68%, 845px); */
  width: 58.68%;
}

.intro-images img:last-child {
  /* width: max(23.26%, 335px); */
  width: 23.26%;
}

/* Titles */
h1 {
  font-size: var(--5xl-fs);
  line-height: var(--leading-5xl);
  text-transform: uppercase;
}

h2 {
  font-size: var(--4xl-fs);
  line-height: var(--leading-4xl);
}

h3 {
  font-size: var(--3xl-fs);
  line-height: var(--leading-3xl);
}

h5 {
  font-size: var(--2xl-fs);
  line-height: var(--leading-2xl);
}

/* Section */
.section {
  margin-bottom: 12.5rem;
}



.section-text {
  font-size: var(--lg-xl);
  line-height: var(--leading-lg);
  max-width: 53rem;
  /* max-width: 58.68%; */
  grid-column: main-content;
}

.section-text>*+* {
  margin-top: 1.5rem;
}

.section-title {
  margin-bottom: 2.5rem;
  color: hsl(var(--title));
  grid-column: main-content;
}

.section-content {
  margin-top: 3.75rem;
  display: flex;
  align-items: stretch;
  grid-column: main-content;
}

.section-content>*+* {
  margin-left: 2.8125rem;
  /* margin-left: 3.125%; */
  /* margin-left: auto; */
}

.section-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--title));
  color: hsl(var(--background));
  padding: 1.875rem 1.875rem 1.25rem;
  /* width: max(27.77%, 25rem); */
}

.section-card__title {
  /* max-width: 17.5rem; */
  /* max-width: 70%; */
  max-width: max(17.5rem, 70%);
}

.section-card--accent {
  background-color: hsl(var(--accent));
  color: hsl(var(--title));
}

.section-card img {
  margin-top: auto;
}

.section-card footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  color: hsl(var(--accent));
}

.section-card--accent footer {
  color: hsl(var(--title));
}

.section-features {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  max-width: 20rem;
  /* max-width: 25.52%; */
}

.section-features-item__icon {
  display: block;
  margin-bottom: 0.625rem;
}

.section-features-item p {
  font-size: var(--lg-fs);
  line-height: var(--leading-lg);
  text-wrap: balance;
}

.section-arrows {
  display: grid;
  grid-template-columns: 3rem 3rem;
  grid-template-rows: 3rem 3rem;
  margin-top: auto;
}

.section-arrows button:first-child {
  rotate: 180deg;
  grid-column: 2;
}

/* 
.section-details {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 18.75rem;
  grid-template-rows: auto 5rem auto;
  padding: 6.25rem;
  gap: 4rem;
} */

.section--title .section-wrapper {
  background-color: hsl(var(--title));
  color: hsl(var(--background));
}

.section-details .section-wrapper {
  grid-column: main-content / -1;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 18.125rem;
  column-gap: 6.25rem;
  row-gap: 3rem;
  padding: 6.875rem 5.625rem 6.875rem 6.875rem;
}

.section-details p {
  font-size: var(--lg-fs);
  line-height: var(--leading-lg);
  color: hsl(var(--text-on-black));
}


.section-badge-icon {
  position: absolute;
  top: 4.25rem;
  left: 4.25rem;
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem 1rem;
}

.section-details h3 {
  grid-row: span 2;
}

.section-details .section-wrapper p:first-child {
  grid-column: 2;
  grid-row: 1;
}

/* .section-details .section-wrapper p:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
} */

.section-details .section-wrapper p:last-child {
  grid-column: 2;
  grid-row: 2 / span 2;
  align-self: flex-end;
}

.section-badge-icon span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--background));
}

.section-badge-icon span:first-child {
  grid-column: 2;
}

.section-content-production-doc {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-content-production-doc p {
  font-size: var(--lg-fs);
  line-height: var(--leading-lg);
}

.section-content-production-doc a {
  margin-top: auto;
}

.section-features--inline {
  flex-direction: row;
  max-width: none;
  grid-column: main-content;
}

.section-features--inline .section-features-item {
  max-width: 25rem;
  /* max-width: 29%; */
}

/* Button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem.75rem;
  background-color: hsl(var(--accent));
  color: hsl(var(--title));
  padding-inline: 3.125rem;
  height: 4rem;
  text-transform: uppercase;
}

.btn--ghost {
  background-color: transparent;
  color: hsl(var(--accent));
  padding: 0;
}

.btn--title {
  background-color: hsl(var(--title));
  color: hsl(var(--background));
}

.btn--icon {
  width: 3rem;
  height: 3rem;
  padding: 0;
}