@import 'font.css';
@import 'var.css';
@import 'reset.css';

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.page-loader {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: hsl(var(--background));
  transition: opacity 500ms ease, visibility 500ms ease;
}

.loading .page-loader {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: [padding-left-start] 3.47% [padding-left-end full-width-start] 1fr [main-content-start] repeat(10, 1fr) 1fr [main-content-end full-width-end padding-right-start] 3.47% [padding-right-end];
  max-width: 1900px;
  margin-inline: auto;
  width: 100%;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Header */
.header {
  color: hsl(var(--title));
  padding-top: 1.5rem;
}

.header__logo {
  position: fixed;
  top: 1.625rem;
  z-index: 10;
  padding-left: min(3.47%, 1900px * 0.0347);
}

.header__logo svg {
  width: clamp(3.75rem, 3.4639rem + 1.2207vw, 4.5625rem);
  height: clamp(2.5rem, 2.3019rem + 0.8451vw, 3.0625rem);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  grid-column: main-content / span 7;
}

.header-nav a {
  transition: color 300ms ease;
  padding-block: 1rem;
}

.header-actions {
  grid-column: 11 / full-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__tel {
  position: relative;
  padding-block: 1rem;
  overflow: hidden;
}

.header__tel:after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0%;
  background-color: currentColor;
  width: 100%;
  height: 1px;
  border-radius: 9999px;
  transform-origin: center;
  scale: 0;
  transition: scale 300ms ease;
}

.header__tel:hover:after {
  scale: 1;
}

.header-burger {
  display: none;
  grid-column: 13;
}

.header-burger__trigger.btn--icon {
  width: 2.5rem;
  height: 2.5rem;
}

.header-burger__trigger.btn {
  position: relative;
  display: flex;
  gap: 6.67px;
  padding: 10px;
  flex-direction: column;
  align-items: end;
}

.header-burger__trigger span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: hsl(var(--background));
}

.header-burger__trigger::after,
.header-burger__trigger::before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: hsl(var(--background));
}

.header-burger__trigger::after {
  width: 11px;
}

.header-burger-content {
  position: fixed;
  inset-block: 0;
  z-index: 40;
  width: 100%;
  background-color: hsl(var(--background));
  padding: 1rem 3.47% 6rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1.5rem;
  color: hsl(var(--text));
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  animation: burgerOpen ease forwards;
}

.header-burger-content .btn--icon {
  width: 2.5rem;
  height: 2.5rem;
}

.header-burger-content[aria-hidden=true] {
  animation: burgerClose ease forwards;
}

.header-burger__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--2xl-fs);
}

.header-burger__close {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-burger-footer {
  margin-top: auto;
}

.header-burger-footer__tel {
  font-size: var(--xl-fs);
  margin-bottom: 1rem;
}

/* Paralax & view animation */
.image-parallax {
  overflow: hidden;
}

[data-paralax-layer] {
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* .slide-animate {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}

.slide-animate.in-view {
  transform: translateY(0);
  opacity: 1;
}

.mask-animate {
  position: relative;
  overflow: hidden;
}

.mask-animate>span {
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.mask-animate.in-view>span {
  transform: translateY(0);
} */


.span-lines .span-line {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  word-break: break-all;
}

.span-lines .span-line .span-line-inner {
  position: relative;
  display: block;
  transform: translateY(100%);
}

/* Intro */
.intro {
  margin-block: clamp(6.25rem, 4.9736rem + 5.446vw, 9.875rem) clamp(6.25rem, 4.0493rem + 9.3897vw, 12.5rem);
}

.intro__title {
  grid-column: main-content;
  color: hsl(var(--title));
}

.intro__text {
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  grid-column: main-content / span 6;
}

.intro__img img {
  width: 100%;
}

.intro__img--first {
  grid-column: main-content / span 8;
  margin-right: calc(1 / 8 * 100% / 2);
}

.intro__img--last {
  grid-column: span 3;
}

/* Titles */
h1 {
  font-size: clamp(2.75rem, 1.6056rem + 4.8826vw, 6rem);
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(var(--2xl-fs), 1.2958rem + 3.0047vw, var(--4xl-fs));
  line-height: 1.1;
}

h3 {
  font-size: clamp(var(--xl-fs), 1.0599rem + 1.8779vw, var(--3xl-fs));
  line-height: 1.2;
}

h5 {
  font-size: clamp(var(--xl-fs), 1.3239rem + 0.7512vw, var(--2xl-fs));
}

/* Section */
#products .section-text {
  margin-bottom: 3.75rem;
}

.section {
  margin-bottom: clamp(6.25rem, 4.0493rem + 9.3897vw, 12.5rem);
}

.section-text {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  grid-column: main-content / span 7;
}

.section-text>*+* {
  margin-top: 1.5rem;
}

.section-title {
  margin-bottom: 2.5rem;
  color: hsl(var(--title));
  grid-column: main-content / span 7;
}

.section-content-last {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.section-content-last p {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
}

.section-content-last__footer {
  padding-top: 2rem;
  margin-top: auto;
}

.swiper {
  grid-column: main-content / span 8;
  /* height: clamp(26rem, 21.9507rem + 17.277vw, 37.5rem); */
  width: 100%;
  height: 37.5rem;
}

.section-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--title));
  color: hsl(var(--background));
  height: 100%;
  padding: 1.875rem 1.875rem 1.25rem;
}

.swiper-wrapper .swiper-slide:nth-child(odd) .section-card {
  background-color: hsl(var(--accent));
  color: hsl(var(--title));
}

.section-card img {
  margin-top: auto;
  max-height: 80%;
  object-fit: contain;

  transition: scale 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.section-card footer {
  display: flex;
  align-items: center;
  justify-content: end;
  color: hsl(var(--accent));
}

.swiper-wrapper .swiper-slide:nth-child(odd) .section-card footer {
  color: hsl(var(--title));
}

#products .section-content-last {
  margin-left: calc(1/4*100%/2);
}

.section-features {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}

.section-features-item__icon {
  display: block;
  margin-bottom: 0.625rem;
}

.section-arrows {
  display: grid;
  grid-template-columns: 3rem 3rem;
  grid-template-rows: 3rem 3rem;
}

.section-arrows .section-arrow:first-child {
  rotate: 180deg;
  grid-column: 2;
}

.section--title {
  margin-bottom: clamp(9.375rem, 7.3944rem + 8.4507vw, 15rem);
}

.section--title .section-wrapper {
  position: relative;
  background-color: hsl(var(--title));
  color: hsl(var(--background));
  grid-column: main-content / -1;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: clamp(1.5rem, 0.7077rem + 3.3803vw, 3.75rem);
  padding-block: clamp(4rem, 2.9877rem + 4.3192vw, 6.875rem);
}

.details-title-wrapper {
  position: relative;
  grid-row: span 2;
  grid-column: 2 / span 6;
}

.details-f-p {
  grid-column: 9 / span 3;
  padding-right: calc(1 / 3 * 100% / 2);
}

.details-s-p {
  grid-column: 2 / span 6;
}

.details-l-p {
  grid-row: 2 / span 2;
  grid-column: 9 / span 3;
  padding-right: calc(1 / 3 * 100% / 2);
}

#details p {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  color: hsl(var(--text-on-black));
}

.squares-badge {
  position: absolute;
  top: -2rem;
  left: -2rem;
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem 1rem;
}

.squares-badge::after,
.squares-badge::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--background));
}

.squares-badge::before {
  grid-column: 2;
}

#production .section-features-item {
  grid-column: span 3;
  margin-bottom: 3.75rem;
}

#production .section-features-item--first {
  grid-column: main-content / span 4;
  padding-right: calc(1 / 4 * 100% / 2);
}

#production .section-text {
  margin-bottom: 3.75rem;
}

#production .section-product__img {
  grid-column: main-content / span 8;
  margin-right: calc(1 / 8 * 100% / 2);
}

#production .section-product__img img {
  width: 100%;
}

.product-page {
  margin-block: clamp(6.25rem, 4.0493rem + 9.3897vw, 12.5rem);
}

.product-page .section {
  margin-bottom: 0;
}

.product-page>*+* {
  margin-top: clamp(6.25rem, 5.3697rem + 3.7559vw, 8.75rem);
}

.section-product-intro .section-title {
  margin-bottom: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
}

.section-product-intro__img {
  grid-column: main-content / span 8;
  margin-right: calc(1 / 8 * 100% / 2);
}

.section-product-intro__img img {
  width: 100%;
}

.product-page .section-content-last p {
  font-size: clamp(var(--lg-fs), 0.993rem + 0.5634vw, var(--xl-fs));
}

.product-page .section-text {
  font-size: clamp(var(--lg-fs), 0.993rem + 0.5634vw, var(--xl-fs));
  margin-bottom: 3.75rem;
}

/* Button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: hsl(var(--accent));
  color: hsl(var(--title));
  padding-inline: 3.125rem;
  height: 4rem;
  text-transform: uppercase;
}

.btn--ghost {
  background-color: transparent;
  color: hsl(var(--accent));
  padding: 1rem 0;
  height: auto;
}

.btn--title {
  background-color: hsl(var(--title));
  color: hsl(var(--background));
}

.btn--title svg {
  pointer-events: none;
}

.btn--icon {
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.btn>* {
  flex-shrink: 0;
}

.btn__fixed-icon {
  margin-top: -4px;
}


.btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.go-back-link {
  grid-column: main-content;
  margin-bottom: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
}

.go-back-link .btn {
  text-transform: none;
}

.separator {
  height: 1px;
  background-color: hsl(var(--text-on-black));
}

/* Product properties */
.product-properties {
  grid-column: main-content / span 8;
  padding-right: calc(1 / 8 * 100% / 2);
  display: grid;
  grid-template-columns: subgrid;
}

.product-properties__label {
  font-size: clamp(var(--lg-fs), 0.993rem + 0.5634vw, var(--xl-fs));
  grid-column: main-content / span 2;
}

.product-properties__text {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  /* grid-column: 4 / span 5; */

  grid-column: 4 / full-width;
}

.product-properties .separator {
  grid-column: span 8;
  margin-block: 1.5625rem;
}

.product-properties .separator:last-child {
  margin-bottom: 0;
}

/* Features accordion */
.features-accordion {
  grid-column: main-content / span 8;
  padding-right: calc(1 / 8 * 100% / 2);
  margin-top: 0.25rem;
}

.features-accordion-item__head {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: clamp(2.5rem, 2.3239rem + 0.7512vw, 3rem) 1fr auto;
  gap: 1rem;
  text-align: left;
  width: 100%;
  color: hsl(var(--title));
  padding-block: 1rem;
  border-bottom: 1px solid hsl(var(--text-on-black));
}

.features-accordion-item__head p {
  overflow-wrap: anywhere;
  font-size: clamp(var(--lg-fs), 0.993rem + 0.5634vw, var(--xl-fs));
}

.accordion-status-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  transition: rotate 300ms ease;
}

.accordion-status-icon:after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 2px;
  border-radius: 9999px;
  background-color: currentColor;
}

.accordion-status-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  height: 2px;
  border-radius: 9999px;
  background-color: currentColor;
  transform-origin: center;
  rotate: 90deg;
  translate: -50% -50%;
  transition: rotate 300ms ease;
}

[data-accordion-item=true] .accordion-status-icon {
  rotate: 180deg;
}

[data-accordion-item=true] .accordion-status-icon::before {
  rotate: 0deg;
}

.features-accordion-item-body {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 300ms ease;
}

[data-accordion-item=true] .features-accordion-item-body {
  grid-template-rows: 1fr;
}

.features-accordion-item-body__wrapper {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  padding-block: 1.25rem;
  min-height: 0;
  transition: padding 300ms ease;
}

[data-accordion-item=false] .features-accordion-item-body__wrapper {
  padding-block: 0;
}

/* Sheet */
.sheet {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: min(100vw, 700px);
  max-height: 100dvh;
  height: 100%;
  display: grid;
  grid-template-columns: [padding-left-start] 1fr [padding-left-end main-content-start] repeat(12, 1fr) [main-content-end padding-right-start] 1fr [padding-right-end];
  grid-auto-rows: min-content;
  background-color: hsl(var(--background));
  padding-block: 3.125rem;
  overflow: auto;
  color: hsl(var(--text));
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  animation: sheetOpen ease forwards;
}

.sheet[aria-hidden=true] {
  animation: sheetClose ease forwards;
}

.sheet__overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  background-color: hsl(0 0% 0% / 50%);
  transition: opacity 300ms ease, visibility 300ms ease;
}

.sheet__overlay[aria-hidden=false] {
  opacity: 1;
  visibility: visible;
}

[data-sheet-root=confirm-order] .sheet__title {
  margin-bottom: 2rem;
}

.sheet__title {
  color: hsl(var(--title));
  grid-column: main-content / span 10;
  margin-bottom: 3.75rem;
}

.sheet__text {
  font-size: clamp(var(--lg-fs), 0.993rem + 0.5634vw, var(--xl-fs));
  grid-column: main-content / span 10;
  margin-bottom: 2.5rem;
}

.sheet__confirm {
  width: fit-content;
  grid-column: main-content;
}

.sheet__close {
  grid-column: 13;
  width: clamp(2.5rem, 2.3239rem + 0.7512vw, 3rem);
  height: clamp(2.5rem, 2.3239rem + 0.7512vw, 3rem);
}

.sheet__close svg {
  width: 50%;
  height: 50%;
}

.sheet__form {
  grid-column: main-content / span 10;
}

.sheet__form .btn {
  width: fit-content;
}

.sheet .privacy-police {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  grid-column: main-content / span 10;
  margin-top: 2rem;
}

.privacy-police a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.focus-guard {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control input {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  width: 100%;
  height: 2.75rem;
  border-bottom: 1px solid hsl(var(--text-on-black));
  transition: border 300ms ease;
}

.form-control textarea {
  font-size: clamp(var(--base-fs), 0.956rem + 0.1878vw, var(--lg-fs));
  width: 100%;
  height: 2.75rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid hsl(var(--text-on-black));
  resize: none;
  max-height: 8.875rem;
  transition: border 300ms ease;
}

.form-control input:focus {
  outline: none;
}

.form-control textarea:focus {
  outline: none;
}

.form-control input:focus-visible {
  border-color: hsl(var(--text));
}

.form-control textarea:focus-visible {
  border-color: hsl(var(--text));
}

.form-control input:placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-control input:placeholder {
  color: hsl(var(--label));
}

.form-control textarea:placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-control textarea:placeholder {
  color: hsl(var(--label));
}

.form-control__message {
  color: hsl(var(--destructive));
  margin-top: 0.4rem;
  height: 1.4375rem;
}

/* Footer */
.footer-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 14.375rem auto;
  grid-column: main-content / -1;
  background-color: hsl(var(--title));
  color: hsl(var(--background));
  padding-block: 6.875rem 2.5rem;
}

.footer-contacts {
  position: relative;
  grid-column: 2 / span 6;
}

.footer-contacts h2 {
  font-size: clamp(var(--xl-fs), 0.6197rem + 3.7559vw, var(--4xl-fs));
}

.footer-contacts__tel {
  margin-block: clamp(0.25rem, -0.1901rem + 1.8779vw, 1.5rem) clamp(0.5rem, -0.3143rem + 3.4742vw, 2.8125rem);
}

.copyright {
  color: hsl(var(--label));
  grid-column: 2 / span 6;
  grid-row: 3;
}

.license {
  color: hsl(var(--label));
  grid-column: 9 / span 3;
  grid-row: 3;
}

.license a {
  transition: color 300ms ease;
}

.license a:hover {
  color: hsl(var(--accent));
}

.footer__address {
  font-size: clamp(0.75rem, 0.618rem + 0.5634vw, var(--lg-fs));
  grid-column: 9 / span 3;
}

/* Media */
@media (max-width: 1345px) {
  .header-actions {
    grid-column: 10 / full-width;
  }
}

@media (max-width: 1280px) {
  .header {
    padding-top: 1rem;
  }

  .header__logo {
    top: 1rem;
  }

  .header-burger {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .header-actions {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .intro__title {
    grid-column: full-width;
  }

  .intro__text {
    grid-column: full-width;
  }

  .intro__img--first {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .intro__img {
    grid-column: full-width
  }

  .section-title {
    grid-column: full-width;
  }

  .section-text {
    grid-column: full-width;
  }

  .swiper {
    grid-column: full-width;
  }

  #products .section-content-last {
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .section-content-last {
    grid-column: full-width;
  }

  .section-arrows {
    display: none;
  }

  .section-wrapper>* {
    margin-inline: 1.5rem;
  }

  .section-card img {
    max-height: 70%;
  }

  .section--title .section-wrapper {
    grid-column: 1 / -1;
  }

  .details-title-wrapper {
    grid-column: full-width;
    grid-row: auto;
  }

  #details p {
    grid-column: full-width;
    padding-right: 0;
  }

  #production .section-product__img {
    grid-column: full-width;
    margin-right: 0;
    margin-bottom: 2.5rem;
  }

  #production .section-features-item {
    margin-bottom: 2.5rem;
    grid-column: 9 / span 5;
  }

  #production .section-features-item--first {
    grid-column: full-width / span 6;
    padding-right: 0;
  }

  #production .section-text {
    margin-bottom: 2.5rem;
  }

  .squares-badge {
    top: -1.5rem;
    left: -1.5rem;
    grid-template-columns: 0.75rem 0.75rem;
    grid-template-rows: 0.75rem 0.75rem;
  }

  .squares-badge::after,
  .squares-badge::before {
    width: 0.75rem;
    height: 0.75rem;
  }

  .footer-wrapper {
    grid-column: 1 / -1;
    grid-template-rows: auto auto 7rem auto auto;
    padding-block: 3.5rem 1.5rem;
  }

  .footer-wrapper>* {
    margin-inline: 1.5rem;
  }

  .footer-contacts {
    grid-column: full-width;
  }

  .footer__address {
    grid-column: full-width;
    margin-top: 3.75rem;
  }

  .copyright {
    grid-row: 4;
    grid-column: full-width;
    margin-bottom: 0.5rem;
  }

  .license {
    grid-column: full-width;
    grid-row: 5;
  }

  .go-back-link {
    grid-column: full-width;
  }

  .section-product-intro__img {
    grid-column: full-width / span 8;
  }

  .section-product-intro__img {
    grid-column: full-width;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .product-properties {
    grid-column: full-width;
    padding-right: 0;
  }

  .product-properties__label {
    grid-column: full-width / span 2;
  }

  .product-properties__text {
    grid-column: 4 / full-width;
  }

  .product-properties .separator {
    grid-column: full-width;
  }

  .features-accordion {
    grid-column: full-width;
    padding-right: 0;
  }

  .sheet {
    padding-block: 1.5rem;
  }

  .sheet__title {
    grid-row: 2;
    margin-block: 1.5rem;
  }

  .sheet__close {
    grid-row: 1;
  }

  .sheet__form {
    grid-column: main-content;
  }

  .sheet__form .btn {
    width: 100%;
  }

  .sheet .privacy-police {
    grid-column: main-content;
  }

  .sheet__text {
    grid-column: main-content;
  }
}

@media (max-width: 991px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    flex-direction: column;
    transform: translate3d(0, 0, 0) !important;
  }

  .swiper-slide {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 640px) {
  #production .section-features-item {
    margin-bottom: 2.5rem;
    grid-column: full-width;
  }

  #production .section-features-item--first {
    grid-column: full-width;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 420px) {
  .product-properties__label {
    grid-column: full-width;
    margin-bottom: 1rem;
  }

  .product-properties__text {
    grid-column: full-width;
  }
}

@media (hover:hover) and (pointer: fine) {
  .header-nav a:hover {
    color: hsl(var(--accent));
  }

  .section-card:hover img {
    scale: 1.1;
  }
}

/* Keyframes */
@keyframes burgerClose {
  from {
    opacity: 1;
    right: 0%;
  }

  to {
    opacity: 0;
    right: -20%;
  }
}

@keyframes burgerOpen {
  from {
    opacity: 0;
    right: -20%;
  }

  to {
    opacity: 1;
    right: 0;
  }
}


@keyframes sheetOpen {
  from {
    right: -20%;
    opacity: 0;
  }

  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes sheetClose {
  from {
    right: 0;
    opacity: 1;
  }

  to {
    right: -20%;
    opacity: 0;
  }
}